* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* =========================COmmon =============================*/
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 999px;
  background: #171100;
  font-weight: 600;
}
.btn:hover {
  opacity: 0.91;
}
/* ============================================================== */
/* header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body_header {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-left: 0px;
  padding-bottom: 8px;
  padding-right: 0px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;

  /* font-weight: 600; */
}

.nav li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}

/* =============Hero================ */
.hero {
  padding-top: 56px;
  padding-bottom: 65px;
  padding-left: 0;
  padding-left: 0;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}
/* hero left */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}
.hero .summary .item {
  display: flex;
  align-items: center;
}
.hero .summary .item + .item {
  margin-top: 22px;
}
.summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.summary .icon2 {
  background-color: #fcefff;
}

.summary .icon3 {
  background-color: #ebeaff;
}

.summary .info {
  margin-left: 16px;
}
.summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 185.714%; /* 185.714% */
}

.summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%; /* 166.667% */
}

/* hero -right */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 46px;
}
.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117.241%; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 28px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 166.667%; /* 166.667% */
}
.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero .btn.btn-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  border: none;
  margin-left: 28px;
  background: transparent;
  display: flex;
  align-items: center;
}
.hero .watch-video .icon {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
